body {
  font-family: 'Fredoka One', cursive;
}

.addIcon {
  margin-left: 10px;
}

.search-top {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.add-text {
  display: flex;
  justify-content: center;
}

.current-tasks {
  margin: auto;
  margin-top: 30px;
  font-size: 30px;
}

.todo {
  width: 556px;
  margin: auto;
  justify-content: center;
}